/*this is the css file for the website*/

/*this is the css for the navbar*/
.navbar {
  margin-bottom: 1;
}

/*this is the css for the body*/
body {
  background: #526369;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}

/*this is the css for the h1 and h2*/
h1,
h2 {
  font-weight: bold;
}

/*this is the css for the p*/
p {
  font-size: 20px;
  color: #ffffff;
}
.navbar-brand{
  font-weight: bold;
  color: white;
  font-size: 20px;
}
.title
{
  font-weight: bold;
  color: white;
}


/*this is the css for the jumbotron*/
.jumbotron {
  background: #000000;
  color: white;
  text-align: center;
}
.jumbotron p {
  color: white;
  font-size: 26px;
}

/*this is the css for the button*/
.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: white;
  margin-bottom: 5px;
}
.btn-primary:hover {
  color: #000000;
  background-color: white;
  border-color: white;
}

/*this is the css for the navbar*/
.navbar-inverse {
  background: #1662fa;
  border: 0;
}
.navbar-inverse .navbar-nav li a {
  color: #f7f7f7;
  font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
  background: #000000;
}

/*this is the css for the dropdown menu*/
.dropdown-menu {
  background: #2e2f31;
  color: white;
  border-radius: 0;
  border: 0;
}
.dropdown-menu li a {
  padding: 10px;
  color: white;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
  background: #557ea3;
  color: white;
}

/*this is the css for the call to action*/
.call-to-action {
  text-align: center;
}
.call-to-action p {
  margin-bottom: 30px;
  font-family: sans-serif;
}
.ui_radio_checkbox
{
  border: 0px;
  width: 100%;
  height: 2em;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.question
{
font-size: 22px;
margin-top: 1cm;
}

/*this is the css for the glyphicon*/
.glyphicon-large {
  font-size: 100px;
}
.inline-fields{
  font: size 20px; ;
}
.field{
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid rgb(46, 45, 45);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,
    0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0
    0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box
      box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box
      box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box
      box-shadow ease-in-out 0.15s;
      margin-bottom: 10px;
}